/* =============================
- TOC
-- Color Reference
============================= */

/* =============================
Color Reference
============================= */
/* :root {
	Dark Blue: #05066a;
	Medium Blue: #1b1982;
	Purple: #8585c6;
	Teal: #66c7c2;
	Yellow: #ffcf6e;
	Red: #ffb0a3;
	Black: #1b1b1b;
	White: #ffffff;
} */
